body {
	background: AliceBlue;
	background-image: url("rufus-mascot.gif");
	background-repeat: no-repeat;
	width: 85%;
	margin: auto; /* This centers the body box on the webpage, no matter the size */
	}

header {
	background: white;
	padding: 0 10px;
	width: 100%;
	margin: auto;
	}	
/* Navigation menu styles */
nav {
	background: pink;
	width: 100%;
	text-align: center;
	padding: 0 10px;
	margin: auto;
	}

.navmenu {
	display: inline;
	text-decoration: none;
	background: pink;
	font-size: 36px;
	margin: 0 10px;
	}
	
.navmenu a {
	text-decoration: none;
	color: red;
	}
.navmenu a:visited {
	color: purple;
	}
	
.navmenu a:hover {
	color: green;
	font-size: 40px;
	}
	
/* Main box styles */
#main {
	width: 70%;
	background: LightGray;
	padding: 10px;
	float: right;
	}

h1 {
	font-family: "Times New Roman", Times, serif;
	color: DarkGray;
	text-align: center;
	}
	
h2 {
	font-family: 'Lobster', cursive;
	color: green;
	text-align: center;
	font-size: 36px;
	}
	
h3 {
	font-family: "Helvetica", arial, sans-serif;
	font-size:30px;
	text-align: center;
	}
		
p {
	font-family: "Helvetica", arial, sans-serif;
	}
	
/* Images within text */
#imagebox {
	width: 30%;
	float: right;
	border: 1px groove black;
	text-align: center;
	padding:10px 0;
	margin: 0 10px;
	}
.caption {
	font-family: "Lucinda Console", Monaco, monospace;
	font-size: 9px;
	padding: 0 6px;
	text-align: justify;
	}

/*Other div styles */	
#sidebar {
	width: 25%;
	background: LightGreen;
	float: left;
	padding-left: 10px;
	margin-bottom: 10px;
	}

#listbox {
	width: 95%;
	float: left;
	background: LightBlue;
	padding: 10px 0 10px 0;
	font-family: Tahoma, Geneva, sans-serif;
	padding: 10px;
	}
	
footer {
	width: 100%;
	margin-top: 50px;
	background: purple;
	color: white;
	font-family: "Comic Sans", arial, sans-serif;
	font-size: 10px;
	text-align: center;
	clear: both; 
	/* remember this code to get something to flow underneath or over other boxes */
	}